{% extends 'layout.html' %}

{% block content %}
    <h3>AWS Integrations Intern <b>at</b> BigCommerce</h3>
    <p>May 2024 - August 2024</p>
    <p>
        Developed and implemented enterprise integration patterns using AWS services and Python<br>
        Gained hands-on experience with AWS CloudFormation for infrastructure as code<br>
        Collaborated with cross-functional teams and participated in change management process
    </p>
   
    <h3>Secratary and Project Coordinator at AI Club at MSU</h3>
    <p>May 2024 - Present</p>
    <p>
        Coordinated weekly workshops with 100+ attendees and semester-long projects with 150+ participants<br>
        Improved member retention  using strategic marketing and managing a database of member information<br>
        Created a semester long beginner project that teaches members about large language models
    </p>

    <h3>Undergraduate Learning Assitant, Data Structures andd Algorithms at Michigan State University</h3>
    <p>August 2024 - Present</p>
    <p>
        Assisted students by hosting weekly office hours and answering questions on the course forum
        Worked with other ULA’s to help develop and test homework project assignments for students
    </p>
{% endblock %}