<!DOCTYPE html>
<html lang="en">
<head>
    <title>Paul Lin</title>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <main>
        <header>
            <h1 class="name">Paul Lin</h1>

            <ul>
                <li>Home</li>
                <li>Experience</li>
                <li>Projects</li>
                <li>Blog</li>
            </ul>
        </header>
        <div>
            <p>Hello!</p>
        </div>
        <footer>
            <p>Made by Paul Lin with Rust & HTMX</p>
            <ul>
                <li>Github</li>
                <li>Linkedin</li>
                <li>Email</li>
            </ul>
        </footer>
    </main>
</body>
</html>