{% extends 'layout.html' %}

{% block content %}
    <h3>AI Beatbox to Midi Converter</h3>
    <a href="https://github.com/PaulLin1/beatbox-to-drum-midi" target="_blank">Github Link</a>
    <p>
        Developed and implemented enterprise integration patterns using AWS services and Python<br>
        Gained hands-on experience with AWS CloudFormation for infrastructure as code<br>
        Collaborated with cross-functional teams and participated in change management process

    </p>
   
    <h3>Automated Carpool Manager</h3>
    <a href="https://github.com/PaulLin1/carpool-manager" target="_blank">Github Link</a>
    <p>
        Coordinated weekly workshops with 100+ attendees and semester-long projects with 150+ participants<br>
        Improved member retention  using strategic marketing and managing a database of member information<br>
        Created a semester long beginner project that teaches members about large language models
    </p>

    <h3>Tetris Remake with Reinforcement Learning Agent</h3>
    <a href="https://github.com/PaulLin1/tetris" target="_blank">Github Link</a>
    <p>
        WIP
    </p>
{% endblock %}